<div fxLayout="row" fxLayout.lt-sm="column">
  <div fxFlex="9">
  </div>
  <div fxFlex="82">
    <mat-card class="CustomeLayout">
      <div *ngIf="!artf">
        <mat-card-title>
            <div fxLayout="row" fxLayout.lt-sm="column">
                <div fxFlex="40">
                </div>
                <div fxFlex="48">
                    <h3>{{srvc_cd_sl}}</h3>
                  </div>
                  </div>
        
         <hr />
        </mat-card-title>
        <mat-card-content>
          <div *ngIf="!a" flex fxLayout="row" fxLayoutAlign="center" class="example-container" style="position: relative;">
            <mat-table class="TableForm" class="adventColor" #table [dataSource]="dataSource" style="overflow: auto">
              <ng-container class="adventColor" *ngFor="let mc of displayedColumns" matColumnDef="{{mc}}">
                <ng-container class="adventColor" *ngIf="mc!='action'">
                  <mat-header-cell class="adventColor" *matHeaderCellDef>{{mc}}</mat-header-cell>
                  <mat-cell class="adventColor" *matCellDef="let data">
                    <ng-container class="adventColor">
                      <mat-form-field>
                        <input matInput type="text" class="form-control" [readonly]="data['show']" (click)="checkoptions(mc)" [(ngModel)]="data[mc]"
                          [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option style="text-align:center;" *ngFor="let option of options" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </ng-container>
                  </mat-cell>
                </ng-container>
                <ng-container class="adventColor" matColumnDef="action">
                  <mat-header-cell class="adventColor" *matHeaderCellDef>Action</mat-header-cell>
                  <mat-cell class="adventColor" *matCellDef="let data">
                    <button mat-icon-button matTooltip="Update" matTooltipPosition='above' *ngIf="data['show']" (click)="change(data['id']);FieldValue(data['id'])">
                      <mat-icon class="iconmod">edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Done" matTooltipPosition='above' *ngIf="!data['show']" (click)="change(data['id']);sendFieldValue(data['id'])">
                      <mat-icon class="iconmod">done</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>
              </ng-container>

              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let data; columns: displayedColumns"></mat-row>
            </mat-table>
          </div>

          <div *ngIf="a">
            <mat-table class="adventColor" #table [dataSource]="dataSource" style="height:auto;overflow:auto;">
                  
              <ng-container *ngFor="let mc of displayedColumns" matColumnDef="{{mc}}">
                <ng-container *ngIf="mc!='action'">
                  <mat-header-cell class="adventColor" *matHeaderCellDef><h4 style="padding-bottom:6px;" id="he">{{mc}}</h4></mat-header-cell>
                 
                  <mat-cell class="adventColor" *matCellDef="let data">
                    <ng-container class="adventColor">
                      <mat-form-field class="adventColor">
                        <input matInput type="text" class="form-control" [readonly]="data['show']" (click)="checkoptions(mc)" [(ngModel)]="data[mc]"
                          [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option style="text-align:center;" *ngFor="let option of options" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </ng-container>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                  <mat-header-cell   *matHeaderCellDef>
                    <button mat-icon-button matTooltip="Add New Row" matTooltipPosition='above' (click)="addFieldValue()">
                      <mat-icon class="iconmod">add</mat-icon>
                    </button>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let data">

                    <button mat-icon-button matTooltip="Update" matTooltipPosition='above' *ngIf="data['show']" (click)="change(data['id']);FieldValue(data['id'])">
                      <mat-icon class="iconmod">edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Done" matTooltipPosition='above' *ngIf="!data['show']" (click)="change(data['id']);sendFieldValue(data['id'])">
                      <mat-icon class="iconmod">done</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Delete" matTooltipPosition='above' (click)="deleteorCancelvalue(data['id'])">
                      <mat-icon class="iconmod">clear</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>
              </ng-container>
              <mat-header-cell style="padding-top:10px;" *matHeaderCellDef></mat-header-cell>
              <mat-header-row style="padding-top:10px;" *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let data; columns: displayedColumns"></mat-row>
            </mat-table>

          </div>
          <br />
          <div fxLayout="row" fxLayout.lt-sm="column">
            <div fxFlex="40">
            </div>
            <div fxFlex="48">
              <button mat-raised-button (click)="cancelbtn_click();" id="cancel">
                <mat-icon class="iconmod">clear</mat-icon>Cancel</button>
              <div flex fxFlex="5"></div>

              <button mat-raised-button (click)="submitbtn_click();" id="submit">
                <mat-icon class="iconmod">done_all</mat-icon>Submit</button>
            </div>
           

          </div>
        </mat-card-content>
      </div>
<!-- -------------------------------------close non reputable form ------------- -->
      <div *ngIf="artf" class="adventColor">
        <mat-card-title>
          <label style="text-align:center;width:100%;">
            <h3 id="he">{{srvc_cd_sl}}</h3>
          </label>
        </mat-card-title>
        <mat-card-content>
          <hr />
          <h3 id="he">Limit Scope at:</h3>
          <div fxFlexAlign="center" class="alignRadioCenter">
            <div class="alignRadioCenter">
              <mat-radio-group>

                <mat-radio-button (click)="makeurl('agency')" value="agency">
                  <div style="display: inline-block;">Agency</div>
                  <div style="display: inline-block;font-weight: 400;margin-right:20px;">({{col1}})</div>
                </mat-radio-button>

                <mat-radio-button (click)="makeurl('application')" value="application">
                  <div style="display: inline-block;">Application</div>
                  <div style="display: inline-block;font-weight: 400;margin-right:20px;">({{col2}})</div>
                </mat-radio-button>

                <mat-radio-button checked (click)="makeurl('process')" value="process">
                  <div style="display: inline-block;">Process</div>
                  <div style="display: inline-block;font-weight: 400;margin-right:20px;">({{col3}})</div>
                </mat-radio-button>

                <mat-radio-button (click)="makeurl('service')" value="service">
                  <div style="display: inline-block;">Service</div>
                  <div style="display: inline-block;font-weight: 400;margin-right:20px;">({{col4}})</div>
                </mat-radio-button>

              </mat-radio-group>
            </div>
          </div>
          <hr />
          <!-- <div class="adventColor" style="text-align: center">
            <input type="file" (change)="onFileSelected($event)">
            <button type="button" (click)="onUpload()">Upload</button>
          </div> -->
          <div flex fxLayout="row" fxLayoutAlign="center" class="example-container adventColor">
            <br />
            <h3 class="adventColor">Select Files:</h3>
          </div>

          <div flex fxLayout="row" fxLayoutAlign="center" class="example-container adventColor">
            <div style="margin-top:10px;">
              <!-- <mat-table class="adventColor" id="tab3" #table [dataSource]="dataSource1" style="overflow: auto;">
                <ng-container class="adventColor" *ngFor="let mc of displayedColumns1" matColumnDef="{{mc}}">
                  <mat-header-cell class="adventColor" *matHeaderCellDef>{{mc}}</mat-header-cell>
                  <mat-cell class="adventColor" *matCellDef="let data">
                    <ng-container class="adventColor">
                      <mat-checkbox (click)="checked(data['id'])">{{data['name']}}</mat-checkbox>
                    </ng-container>
                  </mat-cell>
                </ng-container>
                <mat-header-cell class="adventColor" *matHeaderCellDef></mat-header-cell>
                <mat-header-row class="adventColor" *matHeaderRowDef="displayedColumns1"></mat-header-row>
                <mat-row class="adventColor" *matRowDef="let data; columns: displayedColumns1"></mat-row>
              </mat-table> -->

              <table>
                <tr *ngFor="let data of fd">
                  <td>
                    <mat-checkbox (click)="checked(data['id'])">{{data['name']}}</mat-checkbox>
                  </td>
                </tr>
              </table>
              <br />
              <!-- <mat-checkbox class="allFiles" *ngFor="let data of fd" (click)="checked(data['id'])">{{data['name']}}</mat-checkbox> -->
            </div>
          </div>

          <div class="adventColor" flex fxLayout="row" fxLayoutAlign="center">
            <!-- <button title="Upload file" mat-raised-button color="primary" (click)="uploadBtnClick()">
                  <i class="fas fa-upload"></i> Upload
              </button> -->
            <button mat-raised-button (click)="uploadBtnClick();" id="add">
              <i class="fas fa-upload"></i> Upload
            </button>
            <div flex fxFlex="5"></div>
            <!-- addbtn_click -->
            <button mat-raised-button (click)="cancelbtn_click();" id="cancel">
              <mat-icon class="iconmod">clear</mat-icon>Cancel</button>
            <div flex fxFlex="5"></div>

            <button mat-raised-button (click)="artfct_submitbtn_click();" id="submit">
              <mat-icon class="iconmod">done_all</mat-icon>Submit</button>
            <div flex fxFlex="5"></div>
          </div>
        </mat-card-content>
      </div>

    </mat-card>
  </div>
</div>

<input type="file" (change)="onFileSelected($event)" #files name="Document_File" id="Document_File" style="display:none"
/>