<!-- 1) remove the all "V_" variable (i.e hide them all)
2) remove the "_" with space  
3) fetch the old valus from backend table if table name is exits in report ( PVP object containes table_name in ) 
4) for the repeatable has one call to update each form field record / or we can add similarly/ delete 
5) for all call has same rest service but we have to pass different verbs i.e for 
		1) get => for the fetches the old value
		2) patch=> for the updates
		3) delete= > for the delete
		4)post => for the add 

note-> the rest call is "Forms_Record&Verb=GET"
6) fetch the each option values i.e autocomplete values 
7) chagne filed type if the API return DATE,RADIO
8) After all when user click on submit button , we should have to pass all form field 
record to API "Forms_Record&Verb=POST"
-->
<div>

	<div fxLayout="row" fxLayout.lt-sm="column">
		<div fxFlex="9">
		</div>
		<div fxFlex="82">
			<mat-card class="CustomeLayout">
				<mat-card-title>
				</mat-card-title>
				<mat-card-content>
					<div flex fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="column" fxLayout.gt-sm="column">
						<div fxFlex="10"></div>
						<div fxFlex="80">
							<div class="dynamicFormContent container">
								<form (ngSubmit)="onSubmit()" [formGroup]="form">
									<div *ngFor="let form of formData.getFormParameter()" class="flexLeft">
										<label>{{form | removeWt}}</label>
										<input [formControlName]="form" [id]="form" value="" />

									</div>
							<input type="submit" value="Submit" />
							</form>
						</div>
						</div>
						<div fxFlex="10"></div>
					</div>

					<div fxLayout="row" fxLayout.lt-sm="column">
						<div fxFlex="40">
						</div>
						<div fxFlex="48">
							<button mat-raised-button (click)="cancelbtn_click();" id="cancel">
								<mat-icon class="iconmod">clear</mat-icon>Cancel</button>
							<div flex fxFlex="5"></div>

							<button mat-raised-button (click)="submitbtn_click();" id="submit">
								<mat-icon class="iconmod">done_all</mat-icon>Submit</button>
						</div>


					</div>
				</mat-card-content>
			</mat-card>
		</div>
		<div fxFlex="9">
		</div>
	</div>
</div>