<div fxLayout="row" fxLayout.lt-sm="column">
    <div fxFlex="9">
    </div>
    <div fxFlex="82">
        <mat-card class="CustomeLayout">

            <mat-card-title>
                <h3>{{service}}</h3>
                <hr />
            </mat-card-title>
            <mat-card-content>
                <h3>Limit Scope At-</h3>
                    <mat-radio-group>
                        
                            <mat-radio-button (click)="makeurl('agency')" value="agency">
                              <div style="display: inline-block;padding-right: 5px">Agency</div>
                              <div style="display: inline-block;font-weight: 400;">({{agencyName}})</div>
                            </mat-radio-button>
              
                            <mat-radio-button (click)="makeurl('application')" value="application">
                              <div style="display: inline-block;padding-right: 5px">Application</div>
                              <div style="display: inline-block;font-weight: 400">({{application}})</div>
                            </mat-radio-button>
              
                            <mat-radio-button (click)="makeurl('arocess')" value="arocess">
                              <div style="display: inline-block;padding-right: 5px">Process</div>
                              <div style="display: inline-block;font-weight: 400">({{process}})</div>
                            </mat-radio-button>
              
                            <mat-radio-button (click)="makeurl('service')" value="service">
                              <div style="display: inline-block;padding-right: 5px">Service</div>
                              <div style="display: inline-block;font-weight: 400">({{service}})</div>
                            </mat-radio-button>
              
                          </mat-radio-group>
                          <button title="Upload file" mat-raised-button color="primary" (click)="uploadBtnClick()">
                                <i class="fas fa-upload"></i> Upload
                            </button>
                <hr />
                <div fxLayout="row" fxLayout.lt-sm="column">
                    <div fxFlex="30">
                    </div>
                    <div fxFlex="40">
                        <h3>Current Data in the system..</h3>
                        <mat-checkbox (click) ="selectedFile(files)" *ngFor="let files of allFiles">{{files}}</mat-checkbox>
                    </div>
                    <div fxFlex="30">
                    </div>
                </div>
                <div class="adventColor" flex fxLayout="row" fxLayoutAlign="center">
                        <button mat-raised-button (click)="addbtn_click();" id="add">
                          <mat-icon class="iconmod">add</mat-icon>Add</button>
                        <div flex fxFlex="5"></div>
            
                        <button mat-raised-button (click)="cancelbtn_click();" id="cancel">
                          <mat-icon class="iconmod">clear</mat-icon>Cancel</button>
                        <div flex fxFlex="5"></div>
            
                        <button mat-raised-button (click)="artfct_submitbtn_click();" id="submit">
                          <mat-icon class="iconmod">done_all</mat-icon>Submit</button>
                        <div flex fxFlex="5"></div>
                      </div>
            </mat-card-content>

        </mat-card>
    </div>
    <div fxFlex="9">
    </div>

</div>
<input type="file" (change)="fileChangeEvent($event ,files)" #files name="Document_File" id="Document_File" style="display:none"
/>