.dynamicContent{
    margin-left:auto;
    margin-right: auto;
    position: relative;
}
.flexLeft{
    display: table-row;
    float: left;
    width: 250px;
    margin-left:5px;
    margin-bottom:18px; 
    position: relative;

    }
    .flexLeft *{
       display: list-item;
       list-style: none;
       margin:4px;
       text-align: center;
    }



    ol{
	list-style:none;
}
.containerG{
	  
   
    background-color: #eee;
    overflow: scroll;
}
input[type="text"]{font: 15px/24px 'Muli', sans-serif; color: #333;  box-sizing: border-box; letter-spacing: 1px;}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

/*
ssssssssssssssssss
*/
ol{
	list-style:none;
}
.containerG{
	  
   
    background-color: #eee;
    overflow: scroll;
}
input[type="text"]{font: 15px/24px 'Muli', sans-serif; color: #333;  box-sizing: border-box; letter-spacing: 1px;}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}