<div fxLayout="row" fxLayout.lt-sm="column">
	<div fxFlex="9">
	</div>
	<div fxFlex="82">
		<mat-card class="CustomeLayout">
			<mat-card-title>
				<div fxLayout="row" fxLayout.lt-sm="column">
					<div fxFlex="40">
					</div>
					<div fxFlex="48" class="title_form">
						{{srvc_cd_sl}}
					</div>
				</div>

				<hr />
			</mat-card-title>
			<mat-card-content>
				<div style="position: relative;">
					<div fxLayout="row">
						<div fxFlex="30" style="background:orange;height: 20px;"></div>
						<div fxFlex="3"></div>
						<div fxFlex="30" style="background:orange;height: 20px;"></div>
						<div fxFlex="3"></div>
						<div fxFlex="30" style="background:orange;height: 20px;"></div>
						<div fxFlex="3"></div>
					</div>
				</div>
				<div fxLayout="row" fxLayout.lt-sm="column">
					<div fxFlex="40">
					</div>
					<div fxFlex="48">
						<button mat-raised-button (click)="onCancel();" id="cancel">
							<mat-icon class="iconmod">clear</mat-icon>Cancel
						</button>
						<div flex fxFlex="5"></div>

						<button mat-raised-button (click)="onSubmit();" id="submit">
							<mat-icon class="iconmod">done_all</mat-icon>Submit
						</button>
					</div>
				</div>
			</mat-card-content>
	
	</mat-card>
</div>
</div>